.Polaris-FullscreenBar {
    border-radius: 10px !important;
}

.Polaris-FullscreenBar>.Polaris-FullscreenBar__BackAction {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.Polaris-EmptyState__ImageContainer {
    margin-bottom: 5px;
}

.Polaris-EmptyState__ImageContainer img {
    width: 45%;
}

.Polaris-Text--root.Polaris-Text--headingMd.Polaris-Text--block.Polaris-Text--center {
    white-space: nowrap;
}

/* .Polaris-ShadowBevel>.Polaris-Box>.Polaris-Box {
    padding-bottom: 20px;
} */

.error-image .Polaris-Thumbnail--sizeLarge {
    /* min-width: 350px !important; */
    width: 350px !important;
}

.error-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 15px;
}

.loading {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: start;
}

.loading .Polaris-Spinner.Polaris-Spinner--sizeSmall svg {
    fill: gray;
}

.loading .Polaris-Text--root {
    padding-top: 1px;
    color: gray;
}

:root,
.p-theme-light {
    --p-space-1600: 1rem;
}


.Polaris-Text--root.Polaris-Text--block>*,
.Polaris-Text--root.Polaris-Text--headingMd,
.Polaris-Text--root.Polaris-Text--bodyMd.Polaris-Text--regular,
.Polaris-Text--root.Polaris-Text--headingSm.Polaris-Text--bold,
.Polaris-Button .Polaris-Text--root.Polaris-Text--bodySm.Polaris-Text--medium,
.Polaris-Layout__Section>* {
    font-size: 16px !important;
}

.Polaris-Frame__Scrollable {
    width: unset !important;
}

.Polaris-FullscreenBar {
    box-shadow: var(--p-shadow-200)
}